.vs/
.vscode/
bin/
build/
/.vs
/.idea
CMakeSettings.json

# Visual Studio cache & user files
.vs/
*.suo
*.user
*.VC.db

# Keep the actual project & solution
!*.sln
!*.vcxproj
!*.vcxproj.filters

# Optional: other build outputs
bin/
obj/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
